/* basic layout */
body {
	padding: 0; 
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
main {
    flex-direction: column;
}


/* bootstrap clone for now */
.container {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	flex-wrap:wrap;
}


.inline-block 
{
	display:inline-block;
}

/*-blog-*/

/* this refers to div tag */
.miscnews 
{
	display:flex;
	flex-flow:row wrap;
}

/*this refers to the first div tag only */
	.miscnews > div:first-child {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
	}
/* this refers to the rest div tag */
.miscnews > div 
{
	width: 30%;
	margin: 15px;
}

.item2 {
	flex-direction: row;
}

/*-end of blog-*/

/*-main menu-*/

.menu {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	align-items:stretch;

}

/*.menu > div:first-child {
		display: flex;
		width: 30%;
		flex-flow: row wrap;
	} */

.menu > div {
	display: flex;
	width: 30%;
	flex-wrap: nowrap;
	flex-grow:1;
	justify-content:left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left: 20px;
	padding-right: 20px;
}
	
/*-end of main menu-*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}